body {
    background: #F1FAFF;
    margin: 0 0;
    padding: 0 0;
    max-width: 1920px;
    font-family: 'Inter', sans-serif;

}

/* Navbar */

.navbar {
    display: flex;
    width: 85%;

    margin: auto auto;
    margin-bottom: 25px;
    /** background: #ebd8b7;**/
    font-size: 28px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: .5px 2.5px 5px #808080;
    /* height: 70px; */
    text-shadow: .5px .5px #929aab;
}

.navbar i {
    font-size: 40px;
    padding: 0.85rem;


}

.navbar i:hover {
    color: #474747;
}

.navbar a:link {
    text-decoration: none;
    color: #252525;
}

.navbar a:hover {
    text-decoration: underline;

}

.navbar a:visited {

    color: #252525;

}

.navbar img {
    width: 60px;
    height: 60px;
}

/* Listas */

ul {
    list-style: decimal;

}

li {
    color: #1f1e1e;
}

.prox2 {
    text-decoration: line-through;
}

/* Encabezados */
h1 {
    margin: auto auto;
    margin-bottom: 50px;
    padding-top: 20px;
    color: rgb(31, 27, 27);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}


h2 {
    text-align: center;
}



/* Iconos */

i {
    padding: 3px;
    padding-bottom: 10px;
    font-size: 20px;
}

.youtube-icon:hover {
    color: red;
}


/* Hipervinculos */

a {
    color: #1f1e1e;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #1f1e1e;
}

a:hover {
    color: #5e5b5b;
}

.KOP a:hover {
    cursor: not-allowed;
}

.Juice a:hover {
    cursor: not-allowed;
}

.container {
    /* background-color: red; */
    padding: 6rem 0;
}




.cards {
    /* height: 95vh*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.7rem;
}

.covers {
    display: flex;
    justify-content: center;
    position: relative;
    top: -27%;
}

.covers img {
    width: 155px;
    border-radius: 45%;
    position: absolute;
}

.footer {
    display: inline-block;
    color: #F1FAFF;
    width: 100%;
    background-color: rgb(36, 36, 36);
    text-align: center;
    font-size: 18px;

}

.Anxiety,
.Juice,
.KOP {
    margin: 10px 10px;
    height: 490px;
    width: 490px;

    /*display:inline-block;*/
    background-color: #dce6eb;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8%;
}

.Anxiety h2 {
    color: rgb(225, 255, 118);
    text-shadow: .5px .5px rgb(75, 90, 22);
}

.Juice h2 {
    color: rgb(99, 99, 247);
    text-shadow: .5px .5px rgb(1, 1, 20);
}

.KOP h2 {
    color: rgb(175, 94, 252);
    text-shadow: .5px .5px rgb(43, 1, 83);
}

/* Botones */

.botones {
    display: inline-block;
    height: 45px;
    margin-left: 70px;
    background-color: rgb(82, 82, 82);
    padding: 3px;
    border-radius: 10%;
    color: lightgray;

}

.botones:visited {
    color: lightgray;
}

.botones:hover {
    background-color: rgb(121, 121, 121);
    color: lightgray;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}


@media only screen and (max-width:1530px) {
    h1 {
        margin-bottom: 200px;
    }

    .Anxiety,
    .Juice,
    .KOP {
        margin-bottom: 100px;
    }

    .navbar i {
        font-size: 32px;
        padding: 10px;
    }

    .botones {
        font-size: 14px;
        margin-bottom: 5px;
        margin-left: 50px;
    }

    .container {
        padding: 0.2rem 0;
    }
}