body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background: #f7f7f7;
}


h1{
    font-family: 'Times New Roman', Times, serif;
}


i{
    padding: 8px;
}



.navbar{ 
    display:flex;
    width: 90%;
    margin: auto auto;
   /** background: #ebd8b7;**/
    font-size: 38px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 2px 4px #808080;
    height: 70px;
    text-shadow: .5px .5px #929aab;
}

.navbar i:hover{
    color:#6a7381;
}

.navbar a:link{
    text-decoration: none;
    color: #414750;
}
.navbar a:hover{
    text-decoration: underline;

}
.navbar a:visited{

    color: #393e46;

}

.navbar img{
    width: 60px;
    height: 60px;   
}


.welcome{
    color: #000;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px #929aab;    
    
}




.anxiety-container{
    width: 80%;
    margin:auto auto;
    color: #1e212d;
    background-color:#eeeeee;   
    margin-bottom: 0;
    border-radius: 20px;
}

.Anxiety-header{
    color: #000;
    text-align: center;
    font-size: 40px;
    text-shadow: 1.5px 3px #929aab;
}


.anxiety-container img {
    display:inline;
    width:300px;
    height: 300px;
    border-radius: 20px;
    margin:0 30px 40px ;
    
}


.anxiety-album-container{
    display: inline-block;
    list-style-position:inside;
    position:absolute;
    font-size: 22px;
}

.anxiety-download{

    text-align: center;
}

/** Juice album **/


.juice-container{
    width: 80%;
    margin: auto auto;
    color: #1e212d;
    background-color:#eeeeee;   
    margin-bottom: 0;
    border-radius: 20px;
}

.juice-container a:link{

    text-decoration:none;
    
}

.juice-header{
    color: #000;
    text-align: center;
    font-size: 30px;
    text-shadow: 1.5px 3px #929aab;
}


.juice-container img {
    display:inline;
    width:300px;
    height: 300px;
    border-radius: 20px;
    margin:0 30px 40px;
    
}


.juice-album-container{
    display: inline-block;
    list-style-position:inside;
    position:absolute;
    font-size: 22px;
}

.juice-download {
    text-align: center;
}

.juice-download a{
    color: #555555;
}




.prox{

    color: #ff0000;
}

.prox2{
    color:#535353;
    text-decoration: line-through ;
}


.covers{
    width: 80%;
    margin: auto auto;
    background: #eeeeee;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0px;
    border-radius: 20px;
    color: #000;
    text-shadow: 1px 1.5px #929aab;
    font-size: 20px;
    
}


.covers img{
    padding: 40px;
    border-radius: 50px;
    width: 280px;
    height: 180px;
}


.covers img:hover{

    width: 310px;
    height: 210px;
    transition: all 500ms;
}

.covers a:link{
    text-decoration: none;
}


.nextalbums{
    
    text-align: center;
    color: #000;
    text-shadow: 1px 1.5px #929aab;

}

.nextalbums img{
    border-radius: 80%;
    width:250px;
    height: 250px;
    filter: blur(6px);
    padding:15px 15px;
}

.nextalbums img:hover{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    filter: blur(0);
    transition: all 600ms;
}

.footer{
    display:flex;
    background-color: #494949;
    color: #faf3e0;
    height: 80px;
    font-family: 'Trebuchet MS';
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    position: sticky;
}

.footer-h5{

    text-align: center;
}


.footer-h6{
    text-align: center;
}

