body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background-color: darksalmon;
}

h1{
    
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    margin-left:400px
    
    

}



nav{
    display:flex;
    background: #3eb;
    font-size: 20px;
    



}


nav img{
    width: 50px;
    height: 50px;
    margin-top:0;
    
    
}

.anxiety-container div{
    font-size:30px;
    display:inline-block;
    color: darkred;
    
    background-color: #fff;
}
.anxiety-container img{
    margin-top:0;
    display: block;
    width:300px;
    height: 300px;
    border-radius: 10px;


}

.nextalbums div{
    font-size: 40px;

}

.nextalbums img{
    border-radius: 80%;
    width:300px;
    height: 300px;
    filter: blur(5px);
    padding:15px 15px;
}

.nextalbums img:hover{

    filter: blur(0);
    transition: all 400ms;
}

.prox{

    color: darkred;;
}