body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background: #D5896E;
}


h1{
    font-family: 'Times New Roman', Times, serif;
}


i{
    padding: 8px;
}



.navbar{
    display:flex;
    background: #3eb;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 60px;
    box-shadow: 3px 4px 1px rgb(138, 103, 103);
    height: 60px;
}



.navbar a:link{
    text-decoration: none;
    color: #324ecc;
}
.navbar a:hover{
    text-decoration: underline;

}
.navbar a:visited{

    color: #6F50A9;

}

.navbar img{
    width: 50px;
    height: 50px;   
}


.welcome{
    text-align: center;
    font-size: 50px;
    
}




.anxiety-container{
    
    display: block;
    color: darkred;
    text-align: center;
    background-color:#DCAE8A;
    list-style-position: inside;
}
.anxiety-container img{
    
    margin-top:0;
    width:250px;
    height: 250px;
    border-radius: 20px;
    align-items: center;
    margin auto auto;


}
.anxiety-container img:hover{

    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: all 1s;
}
.covers{
    background: lightcoral;
    text-align: center;
}
.covers img{
    padding: 50px;
    width: 300px;
    height: 200px;
}
.covers img:hover{

    width: 350px;
    height: 250px;
    transition: all 600ms;
}





.nextalbums{
    
    text-align: center;

}

.nextalbums img{
    border-radius: 80%;
    width:250px;
    height: 250px;
    filter: blur(6px);
    padding:15px 15px;
}

.nextalbums img:hover{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    filter: blur(0);
    transition: all 600ms;
}

.prox{

    color: #ff0000;
}